@import "../../subRoutesStyle.scss";

table {
  position: relative;

  th {
    background: #f9fafb;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 600;
    padding: 0.92857143em 0.78571429em;
    border-bottom: 1px solid rgba(34, 36, 38, 0.1) !important;
  }
  td {
    color: rgba(0, 0, 0, 0.87);

    &::first-letter {
      // text-transform: capitalize;
    }

    &:nth-child(1) {
      font-weight: bold;
    }
  }

  tr:nth-last-child(1) td {
    border-bottom: 1px solid rgba(6, 110, 214, 0.1);
  }

  .thead-title {
    font-size: 1.5rem;
  }

  .table-noresults {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #b6b6b6;

    p {
      margin-bottom: 5px;
    }
    span {
      font-weight: normal;
    }
  }
}

.main {
  // padding-top: 85px;

  section {
    .page-option {
      position: relative;
      float: right;
    }

    .table-option {
      // display: flex;
      // flex-direction: row;

      //   float: right;

      //   .btn-talbe-button {
      //     background: $primary-color;
      //     color: #fff;
      //     transition: 0.3;

      //     &:hover {
      //       background: darken($color: $primary-color, $amount: 5);
      //     }
      //   }
    }
  }
}
