<div class="main px-5">
    <section>
        <h2>Train</h2>
        <div class="div-model">
            <div class="row ">
                <div class="col-lg-9 table-responsive mx-auto ">
                    <table class="table">
                        <thead class="table-light">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">UploadedFile</th>
                            <th scope="col">SelectedCategory</th>
                            <th scope="col">Status</th>
                            <th scope="col">Accurecy</th>
                            <th scope="col">Activate</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>CakeMonthlySaleReport.csv</td>
                            <td>Sales</td>
                            <td>complete</td>
                            <td>97%</td>
                            <td>true</td>
                            <td>
                                <button class="btn-menu" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-three-dots-vertical" ></i>
                                </button>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="#">Delete</a></li>
                                  <li><a class="dropdown-item" href="#">Train</a></li>
                                  <li><a class="dropdown-item" href="#">Activate</a></li>
                                  <li><hr class="dropdown-divider"></li>
                                  <li><a class="dropdown-item" href="#">Change</a></li>
                                </ul></td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>CakeMonthlySaleReport2.csv</td>
                            <td>Sales</td>
                            <td>Initial</td>
                            <td>Not available</td>
                            <td>false</td>
                            <td>
                                <button class="btn-menu" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-three-dots-vertical" ></i>
                                </button>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="#">Delete</a></li>
                                  <li><a class="dropdown-item" href="#">Train</a></li>
                                  <li><a class="dropdown-item" href="#">Activate</a></li>
                                  <li><hr class="dropdown-divider"></li>
                                  <li><a class="dropdown-item" href="#">Change</a></li>
                                </ul>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>