@import "../../subRoutesStyle.scss";

.neu {
  padding: 8px 18px;
  border-radius: 7px;
  // background: linear-gradient(145deg, #e6e6e6, #ffffff);
  background: #ffffff;
  // border: none;
  outline: none;
  border-style: none;
  // border-color: #d9d9d9;
  box-shadow: 3px 3px 6px #d9d9d9, -3px -3px 6px #ffffff;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: inset 3px 3px 6px #d9d9d9, inset -3px -3px 6px #ffffff;
  }
}

.div-model {
  table {
    border-radius: 0.75rem;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);

    .btn-menu {
      border: none;
      background: none;
      outline: none;
    }
    .dropdown-menu a {
      cursor: pointer;
    }

    .no-results {
      h3 {
        margin: 20px 0 15px;
      }

      button {
        background: $primary-color;
        color: #fff;
        // font-weight: bold;
        font-size: 16px;
        width: 130px;
        padding: 7px 7px;
        border-radius: 0.2rem;
        margin-bottom: 15px;
      }
    }
  }
}

.toggle-btn {
  width: 50px;
  height: 25px;
  background: gray;
  border-radius: 30px;
  padding: 2px 3px;
  transition: all 400ms ease-in-out;

  & > .circle {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    transition: all 400ms ease-in-out;
    cursor: pointer;
  }
}
.active {
  background: #51aa1b;

  & > .circle {
    margin-left: 25px;
  }
}
