<div class="main px-5">
  <section>
    <h2>Train</h2>
    <div class="div-model">
      <div class="row">
        <div
          class="col-lg-11 table-responsive mx-auto mb-5"
          style="position: relative"
        >
          <div class="ui inverted dimmer" [class.active]="httpLoading">
            <div class="ui text loader">Loading</div>
          </div>
          <table
            class="ui celled compact striped table"
            style="text-align: start"
          >
            <thead>
              <tr>
                <th colspan="7" class="thead-title">List of Products</th>
                <th class="one wide">
                  <div class="ui small basic icon buttons">
                    <button
                      class="ui icon button"
                      style="background: white !important"
                      (click)="getUploadedReportsByUserId()"
                    >
                      <i class="sync icon"></i>
                    </button>
                  </div>
                </th>
              </tr>
              <tr>
                <th scope="col">#</th>
                <th scope="col">UploadedFile</th>
                <th scope="col">Date</th>
                <th scope="col">Mapped products</th>
                <th scope="col">Last month</th>
                <th scope="col">Status</th>
                <th scope="col">Activate</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="data.length == 0">
                <td colspan="8">
                  <div class="table-noresults px-2 py-3">
                    <i class="grav huge icon"></i>
                    <p class="mt-3">
                      You do not have any uploaded sales reports yet.
                    </p>
                    <span
                      >all uploaded sales reports on this account will appear
                      here</span
                    >
                    <button
                      class="ui button mt-4"
                      routerLink="/app/products/ingredients/new"
                    >
                      <i class="upload icon"></i> Upload report
                    </button>
                  </div>
                </td>
              </tr>
              <tr
                *ngFor="let item of data; let i = index"
                [class.table-warning]="item['highlightReport']"
              >
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ item["uploadedFile"] }}</td>
                <td>{{ item["timestamp"] }}</td>
                <td>
                  <a
                    class="ui yellow label mb-1"
                    [routerLink]="
                      '/app/products/product/' + product['mappedProductID']
                    "
                    *ngFor="let product of item['mappedProducts']"
                  >
                    {{ product["productName"] || product["name"] }}
                  </a>
                </td>
                <td>{{ item["lastMonth"] }}</td>
                <td>
                  <span
                    ><i
                      class="spinner loading icon"
                      *ngIf="item['status'] == 'training'"
                    ></i>
                    {{ item["status"] }}</span
                  >
                </td>
                <td>
                  <!-- {{ item["activate"] }} -->
                  <div
                    class="toggle-btn"
                    [ngClass]="{ active: item['activate'] == 1 }"
                  >
                    <div
                      class="circle"
                      (click)="
                        changeReportsActiveSettings(
                          item['_id'],
                          !item['activate']
                        )
                      "
                    ></div>
                  </div>
                </td>
                <td>
                  <button
                    class="btn-menu"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="bi bi-three-dots-vertical"></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a
                        class="dropdown-item"
                        (click)="deleteReport(item['file_key'])"
                        >Delete</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        [ngClass]="{ disabled: item['status'] == 'training' }"
                        (click)="trainModel(item['_id'])"
                        >Train
                      </a>
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        (click)="changeReportsActiveSettings(item['_id'], 1)"
                        >Activate</a
                      >
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="#">Change</a></li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
