<div class="main px-5">
  <section>
    <h2>Dashboard</h2>
    <div class="container-fluid px-0">
      <div class="row div-summary-info">
        <div class="col-md-3">
          <div class="ui segment summary px-4 py-4">
            <h4 class="my-2">216</h4>
            <p class="mt-2">Products</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="ui segment summary px-4 py-4">
            <h4 class="my-2">35</h4>
            <p class="mt-2">Ingredients</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="ui segment summary px-4 py-4">
            <h4 class="my-2">dfdf.csv</h4>
            <p class="mt-2">Active Report</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="ui segment summary px-4 py-4">
            <h4 class="my-2">7</h4>
            <p class="mt-2">Uploaded Reports</p>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-6">
          <div class="ui segment px-4 py-4">sa</div>
        </div>
      </div>
    </div>
  </section>
</div>
