// $primary-color: #437eeb;
// $primary-gradiant-color: #1e55bd;
$primary-color: #fc8027;
$primary-gradiant-color: #df6a17;
$primary-color-text: #fff;
$footer-color: #252525;

$primary-dark-hover: #363b47;
$primary-dark-1: #1a202e;
$primary-dark-2: #121620;

$gray-2: #e5e5e5;
$gray-text: #797979;

$black-2: #1b1818;

$white-3: #f8f8f8;

$red-2: #cb2d58;

$success: #26c475;

$theme-color-1: #ed7117;
$theme-color-2: #e7523e;
$theme-color-3: #d6a779;
$theme-color-4: #dba070;
$theme-color-5: #f6c797;
$theme-color-6: #d6cdca;

$theme-2-color-1: #900604;
$theme-2-color-2: #e7284a;
$theme-2-color-3: #c06b62;
$theme-2-color-4: #843a47;
$theme-2-color-5: #d8667a;
$theme-2-color-6: #f69682;
