$primary-color: #437EEB;
$primary-gradiant-color: #1E55BD;
$footer-color:#252525;

$primary-dark-hover:#363B47;
$primary-dark-1: #1A202E;
$primary-dark-2:#121620;


$gray-2:#E5E5E5;
$gray-text: #727272;

$black-2:#1B1818;

$white-3:#F8F8F8;
