<div class="main px-5 pb-5">
  <section>
    <h2>Prediction</h2>
    <div class="row mt-4">
      <!-- <div class="col-md-5" *ngIf="modelInfo['status'] == 'training'">
        <p>
          Your active model is being trained. So wait until the model is
          finished the train or activate another training completed model to get
          predicted.
        </p>
        <a routerLink="/app/train" class="btn btn-primary stretched-link"
          >Go to pre-trained models</a
        >
      </div> -->
      <!-- <div class="col-md-5">
        <form action="" class="form">
          <div class="row mt-3">
            <div class="col-md-5 form-group">
              <label for="month">Month</label>
              <input
                type="month"
                name="month"
                class="form-control mt-2"
                [attr.min]="minMonth"
                [attr.max]="maxMonth"
              />
            </div>
          </div>
        </form>
      </div> -->
    </div>

    <div class="row mt-4">
      <div class="col-md-8 div-card">
        <div class="mx-2 card-box">
          <div class="card-header">Forecast Visualization</div>
          <div class="card-body">
            <select
              class="form-select"
              [(ngModel)]="selectedProduct"
              (change)="displayChart(selectedProduct)"
              *ngIf="products.length"
            >
              <option
                [attr.selected]="products.length"
                *ngIf="products.length"
                [ngValue]=""
              >
                All
              </option>
              <option
                [attr.selected]="products.length == 0"
                *ngIf="products.length == 0"
                disabled
                style="color: rgba(0, 0, 0, 0.63)"
              >
                No products available
              </option>
              <option *ngFor="let item of products" [ngValue]="item['_id']">
                {{ item["productName"] }}
              </option>
            </select>
            <div class="ui active inverted dimmer" *ngIf="httpLoading_chart">
              <div class="ui text loader">Loading</div>
            </div>
            <canvas id="myChart" *ngIf="!error_chart"></canvas>
            <!-- chart error alert -->
            <div class="noresults my-5 px-2 py-3" *ngIf="error_chart">
              <i class="birthday cake huge icon"></i>
              <p class="mt-3">{{ error_chart["text_p"] || "Chart Error" }}</p>
              <span>{{ error_chart["text_span"] }}</span>
              <button
                class="ui button mt-4"
                [routerLink]="error_chart['route']"
              >
                <i class="upload icon"></i>
                {{ error_chart["btn_lable"] || "See more" }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 div-card">
        <div class="mx-2 card-box">
          <div class="card-header mb-3 ps-4">Pinned Cakes</div>
          <div class="div-products">
            <div
              class="product-item px-4 py-2"
              *ngFor="let item of products; let i = index"
            >
              <img src="../../../../../assets/img/Image 3.png" alt="" />
              <div class="product-details ms-3">
                <p>
                  <a [routerLink]="['/app/products/product', item['_id']]">
                    {{ item["productName"] }}
                  </a>
                </p>
                <span> 225 <i class="arrow up icon success"></i> </span>
              </div>
            </div>
          </div>
          <div class="card-footer py-2" *ngIf="products.length">
            <div
              class="ui animated button"
              tabindex="0"
              routerLink="/app/ingredients"
            >
              <div class="visible content">
                <label for="">View More</label>
              </div>
              <div class="hidden content">
                <i class="right arrow icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-4 px-0">
        <div class="div-card my-1">
          <div class="mx-2 card-box card-box-mini">
            <div class="card-header mb-3 ps-4">Cakes</div>
            <div class="container div-cakes-list">
              <div class="row mb-3">
                <div class="col" *ngFor="let item of products">
                  {{ item["productName"] }}
                </div>
                <div class="noresults mt-4" *ngIf="products.length == 0">
                  <i class="birthday cake big icon"></i>
                  <p class="mt-3">You do not have any products</p>
                  <span
                    >all products uploaded on this account will appear
                    here</span
                  >
                  <!-- <button
                    class="ui button mt-4"
                    [routerLink]="error_chart['route']"
                  >
                    <i class="upload icon"></i>
                    {{ error_chart["btn_lable"] || "See more" }}
                  </button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 px-0">
        <div class="div-card ms-3 my-1">
          <div class="mx-2 card-box card-box-mini">
            <div class="card-header mb-3 ps-4">Ingredients</div>
            <div class="container div-cakes-list">
              <div class="row mb-3">
                <div class="col" *ngFor="let item of ingredientsList">
                  {{ item["ingredients_details"] + " " + item["measure_type"] }}
                </div>
                <div class="noresults mt-4" *ngIf="ingredientsList.length == 0">
                  <i class="birthday cake big icon"></i>
                  <p class="mt-3">You do not have any ingredients</p>
                  <span>all ingredients will appear here</span>
                  <button
                    class="ui button mt-4"
                    [routerLink]="'/app/products/ingredients'"
                  >
                    <i class="upload icon"></i>
                    Go to Ingredients
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-lg-10 table-responsive mx-auto">
      <table class="table mt-2" style="text-align: start">
        <thead class="table-light">
          <tr>
            <th scope="col" *ngFor="let item of ingredientsDetails['header']">
              {{ item }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let line of ingredientsDetails['data']">
            <td *ngFor="let item of line">{{ item }}</td>
          </tr>
        </tbody>
      </table>
    </div> -->
  </section>
</div>
