@import "../../subRoutesStyle.scss";

table {
  position: relative;
  // border-radius: 0.75rem;
  // box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);

  th {
    background: #f9fafb;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 600;
    padding: 0.92857143em 0.78571429em;
    border-bottom: 1px solid rgba(6, 110, 214, 0.1) !important;
  }

  td {
    color: rgba(0, 0, 0, 0.87);

    &::first-letter {
      text-transform: capitalize;
    }
  }

  tr:nth-last-child(1) td {
    border-bottom: 1px solid rgba(6, 110, 214, 0.1);
  }

  td:nth-child(1) {
    font-weight: bold;
  }

  .thead-title {
    font-size: 1.5rem;
  }

  // .no-results {
  //   h3 {
  //     margin: 20px 0 15px;
  //   }

  //   button {
  //     background: $primary-color;
  //     color: #fff;
  //     // font-weight: bold;
  //     font-size: 16px;
  //     width: 130px;
  //     padding: 7px 7px;
  //     border-radius: 0.2rem;
  //     margin-bottom: 15px;
  //   }
  // }
  .table-noresults {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #b6b6b6;

    p {
      margin-bottom: 5px;
    }
    span {
      font-weight: normal;
    }
  }
}

.main {
  // padding-top: 85px;

  section {
    .page-option {
      position: relative;
      // float: right;
    }
    .table-option {
      // display: flex;
      // flex-direction: row;
      float: right;

      .btn-talbe-button {
        background: $primary-color;
        color: #fff;
        transition: 0.3;

        &:hover {
          background: darken($color: $primary-color, $amount: 5);
        }
      }
    }

    .div-upload {
      text-align: center;
      // background: orange;

      h2 {
        color: $black-2;
      }
    }

    .ui.table {
      .ingretientsTag {
        span {
          color: #db2828;
          position: relative;
          margin-left: 3px;
          text-transform: capitalize;

          // &::after {
          //   // position: absolute;
          //   content: ",";
          //   display: inline-block;
          //   margin-left: 2px;
          // }

          // &:nth-last-child(1)::after {
          //   content: unset;
          // }

          // &:hover {
          //   text-decoration: underline;
          // }
        }
      }
      // tfoot th {
      //   border-top-color: rgba(34, 36, 38, 0.15) !important;
      // }
    }
  }
}

@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return $black-2;
  } @else {
    @return #fff;
  }
}
