@import "../../subRoutesStyle.scss";

.neu {
  padding: 8px 18px;
  border-radius: 7px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  // border: none;
  outline: none;
  border-style: none;
  // border-color: #d9d9d9;
  box-shadow: 3px 3px 6px #d9d9d9, -3px -3px 6px #ffffff;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: inset 3px 3px 6px #d9d9d9, inset -3px -3px 6px #ffffff;
  }
}

table {
  position: relative;
  // border-radius: 0.75rem;
  // box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);

  th {
    background: #f9fafb;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 600;
    padding: 0.92857143em 0.78571429em;
    border-bottom: 1px solid rgba(6, 110, 214, 0.1) !important;
  }

  td {
    color: rgba(0, 0, 0, 0.87);

    &::first-letter {
      text-transform: capitalize;
    }
  }

  tr:nth-last-child(1) td {
    border-bottom: 1px solid rgba(6, 110, 214, 0.1);
  }

  td:nth-child(1) {
    font-weight: bold;
  }

  .btn-menu {
    border: none;
    background: none;
    outline: none;
  }
  .dropdown-menu a {
    cursor: pointer;
  }

  .no-results {
    h3 {
      margin: 20px 0 15px;
    }

    button {
      background: $primary-color;
      color: #fff;
      // font-weight: bold;
      font-size: 16px;
      width: 130px;
      padding: 7px 7px;
      border-radius: 0.2rem;
      margin-bottom: 15px;
    }
  }
}

.main {
  // padding-top: 85px;

  section {
    .page-option {
      position: relative;
      float: right;
    }
    .table-option {
      // display: flex;
      // flex-direction: row;
      float: right;

      .btn-talbe-button {
        background: $primary-color;
        color: #fff;
        transition: 0.3;

        &:hover {
          background: darken($color: $primary-color, $amount: 5);
        }
      }
    }

    .div-upload {
      text-align: center;
      // background: orange;

      h2 {
        color: $black-2;
      }
    }

    .ui.table {
      .ingretientsTag {
        span {
          color: #5a9abe;
          position: relative;
          cursor: pointer;
          margin-left: 3px;
          text-transform: capitalize;

          &::after {
            // position: absolute;
            content: ",";
            display: inline-block;
            margin-left: 2px;
          }

          &:nth-last-child(1)::after {
            content: unset;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
      // tfoot th {
      //   border-top-color: rgba(34, 36, 38, 0.15) !important;
      // }
    }
  }
}

@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return $black-2;
  } @else {
    @return #fff;
  }
}
