<div class="container-fluid p-0">
  <div class="row">
    <div class="col-md-5">
      <div class="div-side-img">
        <img
          src="../../../assets/img/close-up-whisk-with-egg-baking-flour-table.jpg"
          alt=""
        />
      </div>
    </div>
    <div class="col-md-7">
      <div class="row div-login">
        <div class="col-md-6 m-auto">
          <form action="" class="form mb-3" #regForm="ngForm">
            <div class="form-group">
              <h5>Create account</h5>
            </div>
            <div
              class="form-group has-danger error-message"
              *ngIf="errorMessage"
            >
              <div class="form-control-feedback">
                {{ errorMessage }}
              </div>
            </div>
            <div class="ui message success" *ngIf="success">
              <i class="close icon" (click)="success = false"></i>
              <div class="header">Account created.</div>
              <!-- <p>You may now log-in with the username you have chosen</p> -->
              <p>
                Check your email to confirm your account and then you may log-in
                with the username you have chosen
              </p>
            </div>
            <div class="form-group mt-3">
              <label for="">Username</label>
              <input
                type="text"
                [(ngModel)]="details['userName']"
                name="userName"
                class="form-control"
                autocomplete="off"
                [class.is-invalid]="userName.invalid && userName.touched"
                #userName="ngModel"
                required
              />
              <small
                class="invalid-feedback"
                *ngIf="userName.invalid && userName.touched"
              >
                Username is required.
              </small>
            </div>
            <div class="form-group mt-3">
              <label for="">Email</label>
              <input
                type="email"
                [(ngModel)]="details['email']"
                name="email"
                class="form-control"
                autocomplete="off"
                [class.is-invalid]="emailInput.invalid && emailInput.touched"
                #emailInput="ngModel"
                required
                email
              />
              <small
                class="invalid-feedback"
                *ngIf="emailInput.errors?.required && emailInput.touched"
              >
                Email is required.
              </small>
              <small
                class="invalid-feedback"
                *ngIf="emailInput.errors?.email && emailInput.touched"
              >
                Email is invalid.
              </small>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group mt-3">
                  <label for="">Password</label>
                  <input
                    type="password"
                    [(ngModel)]="details['password']"
                    name="password"
                    class="form-control"
                    [class.is-invalid]="passInput.invalid && passInput.touched"
                    #passInput="ngModel"
                    required
                    appValidPassword
                    (input)="cpassInput.control.updateValueAndValidity()"
                  />
                  <small
                    class="invalid-feedback"
                    *ngIf="passInput.errors?.required && passInput.touched"
                  >
                    Password is required
                  </small>
                  <small
                    class="invalid-feedback"
                    *ngIf="
                      passInput.errors?.notValidPassword &&
                      !passInput.errors?.required &&
                      passInput.touched
                    "
                  >
                    Password must at least include 8 characters and contain at
                    least one uppercase, at least one lowercase character, and
                    one special character.
                  </small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mt-3">
                  <label for="">Confirm</label>
                  <input
                    type="password"
                    [(ngModel)]="details['cPassword']"
                    name="cPassword"
                    class="form-control"
                    [class.is-invalid]="
                      cpassInput.invalid && cpassInput.touched
                    "
                    #cpassInput="ngModel"
                    appConfirmEqualValidator="password"
                    required
                  />
                  <small
                    class="invalid-feedback"
                    *ngIf="cpassInput.errors?.required && cpassInput.touched"
                  >
                    Confirm passwords is required
                  </small>
                  <small
                    class="invalid-feedback"
                    *ngIf="
                      cpassInput.errors?.notEqual &&
                      !cpassInput.errors?.required &&
                      cpassInput.touched
                    "
                  >
                    Passwords and Confirm Password must be same
                  </small>
                </div>
              </div>
            </div>
            <div class="form-check mt-4">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault"
              />
              <label class="form-check-label" for="flexCheckDefault">
                I have read and agree to the <a href="">Terms</a> and
                <a href="">Privacy Policy</a>
              </label>
            </div>
            <div class="form-group mt-4">
              <button
                class="ui button btn-signup"
                [ngClass]="{ 'loading disabled': http_loading }"
                [disabled]="regForm.invalid || http_loading"
                (click)="register()"
              >
                Create account
              </button>
            </div>
            <div class="form-group div-suggest-login mt-3">
              <span class="">
                Already have an account ?
                <a routerLink="/login" class="a-login">Login</a>
              </span>
            </div>
            <div class="divider my-3">
              <label>or</label>
              <div></div>
            </div>
            <div class="form-group mt-4">
              <div class="div-other-logins">
                <div>
                  <img src="../../../assets/icons/svg/google.svg" alt="" />
                </div>
                <span> Continue with Google </span>
              </div>
            </div>
            <div class="form-group mt-4">
              <div class="div-other-logins">
                <div>
                  <img src="../../../assets/icons/svg/facebook.svg" alt="" />
                </div>
                <span> Continue with Facebook </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
