@import "../../shared_scss/colorPalette.scss";

.main {
  min-height: 100vh;
  position: relative;

  .row > div {
    min-height: 100vh;
  }

  .side-menu {
    position: relative;
    background: $primary-dark-hover;
    transition: all 0.3s;
    color: #fff;
    min-width: 250px;
    max-width: 250px;
    margin-left: 0;
    z-index: 2;

    a {
      color: #fff;
      text-decoration: none;
    }

    #sidebar {
      transition: all 0.3s;
      position: fixed;
      min-width: inherit;
      max-width: inherit;

      .active {
        // margin-left: -20px;
      }
      .router-active {
        color: $primary-color;
        // background: lighten($color: $primary-dark-hover, $amount: 10) ;
      }
      ul.components {
        padding: 20px 0;
        // border-bottom: 1px solid red;
      }

      p {
        padding: 10px;
      }

      ul {
        padding-left: 0;
      }
      ul li {
        list-style: none;
      }

      ul li a {
        padding: 10px;
        font-size: 14px;
        display: block;

        .icon {
          width: 18px;
          height: 18px;
          // margin-right: 20px;
          // filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(121deg)
          //   brightness(109%) contrast(102%);
        }
        i {
          margin-left: 10px;
          margin-right: 10px;
        }
        &:hover {
          // color: #fff;
          background: $primary-color;
        }
      }

      // ul li.active > a,
      // a[aria-expanded="true"] {
      //   color: #fff;
      //   background: $theme-2-color-2;
      // }

      ul li.active > a {
        color: #fff;
        background: $theme-2-color-2;
      }

      a[aria-expanded="true"] {
        color: #fff;
        background: $primary-color;
      }

      a[data-toggle="collapse"] {
        position: relative;
      }

      .dropdown-toggle {
        position: relative;

        &::after {
          display: block;
          position: absolute;
          top: 50%;
          right: 20%;
          // transform: translateY(-50%);
        }
      }

      ul ul a {
        font-size: 13px !important;
        padding-left: 50px !important;
        background: $primary-dark-2;
      }
    }
  }

  .hide {
    // display: none;
    margin-left: -250px;
  }

  .show {
    // display: block;
    margin-left: 0;
  }

  .div-contents {
    width: 100%;
    background: #f8f9fa;

    .app-navi {
      // position: fixed;
      position: sticky;
      top: 0;
      display: flex;
      align-items: center;
      height: 64px;
      width: inherit;
      max-width: inherit;
      background: #fff;
      padding: 10px 0;
      padding-right: 100px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      z-index: 10;

      .burger-menu {
        cursor: pointer;
        width: 25px;
        // height: 25px;

        // img {
        //   width: 24px;
        //   height: 24px;
        // }

        i {
          font-size: 27px;
        }
      }

      .header-logo {
        display: flex;
        flex-direction: row;
        align-items: center;

        a {
          padding-left: 0;
          font-size: 18px;
          font-weight: bold;
          padding-right: 50px;
          margin-left: 10px;
          color: $black-2;
        }

        img {
          width: 24px;
          height: 24px;
        }
      }

      .navbar-right .dropdown-toggle::after {
        display: none;
      }

      .nav-link img {
        border-radius: 50%;
        width: 36px;
        height: 36px;
        // margin: -8px 0;
        float: left;
        margin-right: 10px;
      }

      .user-log {
        //   li a {
        //     font-weight: bold;
        //     cursor: pointer;
        //   }

        //   li:nth-child(1) {
        //     // login
        //     a {
        //       padding-right: 0.5rem !important;
        //     }
        //   }

        //   li:nth-child(2) {
        //     // register
        //     a {
        //       padding: 0.25rem 1rem !important;
        //       color: $primary-color !important;
        //       border: 2px solid $primary-color;
        //       border-radius: 0.25rem;
        //       transition: 0.5s;
        //     }

        //     a:hover {
        //       background: $primary-color;
        //       color: #fff !important;
        //     }
        //   }
      }
    }
  }
}

// @include media-breakpoint-down(sm) {

//   }

@media (max-width: 768px) {
  .side-menu {
    position: absolute !important;
    top: 64px;
  }
}
