@import "../../shared_scss/colorPalette.scss";

.main {
  // padding-top: 85px;
  padding-top: 20px;
  font-family: "DM sans";

  section {
    h2 {
      color: $primary-color;
      font-size: 20px;
    }

    .page-header {
      border-bottom: 2px solid #e8e8e8;
      padding-bottom: 12px;

      .header-left {
        display: inline-block;

        & > * {
          display: inline-block;
        }

        .btn-back {
          border: solid 2px $primary-color;
          padding: 3px 12px;
          cursor: pointer;
          transition: 0.3s;

          i {
            color: $primary-color;
            font-size: 18px;
          }

          &:hover {
            background: $primary-color;

            i {
              color: white;
            }
          }
        }
      }

      .header-right {
        display: inline-block;
        float: right;
        // background: red;

        button {
          background: none;
          color: $primary-color;
          border: solid 2px $primary-color;
          border-radius: 50px;
          transition: 0.3s;

          &.active,
          &:hover {
            background: $primary-color;
            color: white;
          }
        }

        .dropdown-menu {
          li a {
            cursor: pointer;
          }
        }
      }
    }

    .page-body {
      position: relative;
      padding-bottom: 25px;
    }
  }
}

.neu {
  padding: 8px 18px;
  border-radius: 7px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  // border: none;
  outline: none;
  border-style: none;
  // border-color: #d9d9d9;
  box-shadow: 3px 3px 6px #d9d9d9, -3px -3px 6px #ffffff;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: inset 3px 3px 6px #d9d9d9, inset -3px -3px 6px #ffffff;
  }
}

.neuo {
  background-color: #fff;
  padding: 1.5rem;
  margin-bottom: 24px;
  border: 1px solid #e7eaed;
  border-radius: 0.25rem;
}
