@import "../../subRoutesStyle.scss";

.page-body {
  .page-header {
    h2 {
      font-size: 2.1rem;
      font-weight: lighter;
    }
    span {
      font-size: 1rem;
      line-height: 1.5;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.6);
      line-height: 1.3;
    }
  }

  .sub-section {
    h4 {
      font-weight: bold;
      padding-bottom: 5px;
      border-bottom: 2px solid #e8e8e8;
    }

    .sub-details {
      padding-bottom: 10px;
      border-bottom: 2px solid #e8e8e8;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;

      .topic {
        font-size: 1.2rem;
        font-weight: lighter;
      }
      .details {
        // float: right;
        font-size: 1.1rem;
        font-weight: lighter;
      }
    }
  }
}
