<!-- <app-popup-success [message]="'We will send you a password reset link.'"></app-popup-success>
<app-popup-something-wrong [httpError]="isHttpError"></app-popup-something-wrong> -->

<div class="container-fluid main-wrapper">
  <div class="container mt-5">
    <div class="col-lg-4 m-auto login-form" *ngIf="!success">
      <form action="" #loginForm="ngForm" class="form">
        <div class="avatar"><i class="material-icons">&#xE7FF;</i></div>
        <h4 class="modal-title">Forget your password?</h4>
        <div
          class="form-group"
          [class.has-danger]="
            uNameController.invalid && uNameController.touched
          "
        >
          <label for="">User Name</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="Details['userName']"
            name="userName"
            #uNameController="ngModel"
            required
          />
          <div
            class="form-control-feedback"
            *ngIf="uNameController.invalid && uNameController.touched"
          >
            Username is required
          </div>
        </div>
        <div class="forn-group">
          <span>
            <small>
              Enter your username and we will send you a password reset link.
            </small>
          </span>
        </div>
        <div class="form-group small clearfix">
          <a routerLink="/login" class="forgot-link">Remember Password?</a>
        </div>
        <button
          class="ui button"
          [class.loading]="reqLoading"
          [disabled]="loginForm.invalid || reqLoading"
          (click)="forget()"
        >
          Reset Password
        </button>
      </form>
    </div>
    <div class="col-lg-4 m-auto" *ngIf="success">
      <div class="success-div">
        <i class="envelope open massive icon mx-auto"></i>
        <h4 class="mt-5 mb-3">Check your email</h4>
        <p>We sent you an email with intructions for resetting your password</p>
        <button class="ui button mt-3" routerLink="/login">Go to login</button>
      </div>
      <div></div>
    </div>
  </div>
</div>
