<div class="fixed-top" id="navi">
  <nav
    class="container navbar navbar-default navbar-expand-lg navbar-light my-2"
  >
    <div class="navbar-header d-flex col">
      <img src="../../../../assets/icons/svg/bxs-cake.svg" alt="" />
      <a class="navbar-brand" routerLink="">Analysis Blast</a>
      <button
        type="button"
        data-target="#navbarCollapse"
        data-toggle="collapse"
        class="navbar-toggle navbar-toggler ml-auto"
      >
        <span class="navbar-toggler-icon"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div
      id="navbarCollapse"
      class="collapse navbar-collapse justify-content-end"
    >
      <ul class="nav navbar-nav">
        <li class="nav-item ms-4">
          <a routerLink="/home" routerLinkActive="active-route" class="nav-link"
            >Home</a
          >
        </li>
        <li class="nav-item ms-3">
          <a routerLinkActive="active-route" class="nav-link">Serives</a>
        </li>
        <li class="nav-item ms-3">
          <a
            routerLink="subscription"
            routerLinkActive="active-route"
            class="nav-link"
            >Premium</a
          >
        </li>
        <li class="nav-item ms-3">
          <a routerLinkActive="active-route" class="nav-link">AboutUs</a>
        </li>
        <li class="nav-item ms-3">
          <a routerLinkActive="active-route" class="nav-link">Contact</a>
        </li>
        <li class="nav-item dashboard ms-3" *ngIf="getisLogged()">
          <a routerLink="/app" routerLinkActive="active-route" class="nav-link"
            >Dashboard</a
          >
        </li>
      </ul>
      <!-- <form class="navbar-form form-inline">
          <div class="input-group search-box">
            <div class="input-group-filter">
              <button type="button" class="btn btn-filter dropdown-toggle" data-toggle="dropdown">
                <span id="search_concept">Filter by</span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li class="mx-3">
                  <div class="form-group small clearfix">
                    <label class="form-check-label"><input type="radio" [(ngModel)]="searchDetails['category']"
                        name="category" [value]="'customer_small'"> <span class="ml-3">Customer - Small </span> </label>
                  </div>
                </li>
                <li class="mx-3">
                  <div class="form-group small clearfix">
                    <label class="form-check-label"><input type="radio" [(ngModel)]="searchDetails['category']"
                        name="category" [value]="'manager'">
                      <span class="ml-3"> Manager </span> </label>
                  </div>
                </li>
                <li class="mx-3">
                  <div class="form-group small clearfix">
                    <label class="form-check-label"><input type="radio" [(ngModel)]="searchDetails['category']"
                        name="category" [value]="'pendingBill'">
                      <span class="ml-3"> Pending Bill </span>
                    </label>
                  </div>
                </li>
              </ul>
            </div>
            <div style="position: relative;">
              <input type="text" id="search" class="form-control" [(ngModel)]="searchDetails['search']" list="list"
                name="search" placeholder="Search here..." autocomplete="off" (ngModelChange)="search()" />
              <span class="input-group-addon " style="cursor: pointer;" (click)="search()"><i
                  class="material-icons">&#xE8B6;</i></span>
  
              <div class="col"
                style="position: absolute;top:40px;left: 0px;background: #fff;width: 250px;min-height: 60px;"
                *ngIf="searchList.length ">
                <p *ngFor="let item of searchList">
                  {{ item["name"] }}
                </p>
              </div>
              <datalist id="list">
                <option *ngFor="let item of searchList" [value]="item['name']">
                  <a href="sas" style="background: red;">{{ item["customer_id"] }}</a>
  
                </option>
              </datalist>
            </div>
  
          </div>
        </form> -->

      <ul class="nav navbar-nav navbar-right user-log ms-4">
        <li class="nav-item ms-4" *ngIf="!getisLogged()">
          <a routerLink="/login" class="nav-link dropdown-toggle">Login</a>
        </li>
        <li class="nav-item ms-2" *ngIf="!getisLogged()">
          <a routerLink="/register" class="nav-link dropdown-toggle"
            >Register</a
          >
        </li>
        <div class="nav-item dropdown mr-3" *ngIf="getisLogged()">
          <a
            href="#"
            data-toggle="dropdown"
            class="nav-link dropdown-toggle user-action"
            ><img
              src="../../../../assets/img/eminem.jpg"
              class="avatar"
              alt="Avatar"
            />
            <div
              style="display: flex; flex-direction: column; margin-top: -8px"
            >
              <span> {{ username }}</span>
              <small>{{ currentRole }}</small>
            </div>
            <b class="caret"></b>
          </a>
          <div class="dropdown-menu">
            <!-- <a class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a>
            <a class="dropdown-item"><i class="fa fa-calendar-o"></i> Calendar</a>
            <a class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a> 
            <div class="dropdown-divider"></div>-->
            <a
              style="cursor: pointer"
              routerLink="/app/profile/user"
              class="dropdown-item"
              ><i class="user outline icon"></i> Account</a
            >
            <a style="cursor: pointer" (click)="logOut()" class="dropdown-item"
              ><i class="power off icon"></i> Logout</a
            >
          </div>
        </div>
      </ul>
    </div>
  </nav>
</div>
