<!-- <div class="ggg"> -->
<div class="alert my-0 py-0 custom-alert" *ngIf="success">
  <div class="ui green message py-4">
    <i class="close icon px-2 py-1" (click)="success = false"></i>
    <p class="mt-0">
      <i class="check icon icon-react me-3"></i>
      Sales report successfully uploaded. Go to
      <a routerLink="/app/train">
        <b style="text-decoration: underline; cursor: pointer">Training</b>
      </a>
      page to see all.
    </p>
  </div>
</div>
<!-- </div> -->
<div class="main px-5">
  <section>
    <h2>Prediction</h2>
    <div class="row mt-3 pt-2 div-progress" style="height: 100px">
      <div class="col-lg-8 mx-auto">
        <div class="row div-steps">
          <div
            class="col step"
            [class.active]="sectionUploading"
            (click)="backToUpload()"
          >
            <i class="bi bi-file-earmark-arrow-up-fill"></i>
            <div class="content">
              <div class="title">Uploading</div>
              <div class="description">Choose your sales report</div>
            </div>
          </div>
          <div class="col step" [class.active]="sectionMapping">
            <i class="bi bi-diagram-3-fill"></i>
            <div class="content">
              <div class="title">Mapping</div>
              <div class="description">Select information</div>
            </div>
          </div>
          <div class="col disabled step" [class.active]="sectionSuccess">
            <i class="bi bi-cpu-fill"></i>
            <div class="content">
              <div class="title">Training</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row div-upload pt-5">
      <div class="col-md-8 mx-auto" *ngIf="sectionUploading">
        <h2>Upload a new sales report for train your model</h2>
        <p class="upload-description">
          (File accepted: .csv, .xlsx - Max file size: 1MB for free subscribe
          plan limit)
        </p>
        <!-- <input #imageInput type="file" accept="image/*" name="" id=""> -->
        <div class="file-upload">
          <div class="image-upload-wrap" id="image-upload-section">
            <input
              class="file-upload-input"
              type="file"
              accept=".xlsx, .xls, .csv"
              #fileInput
              (change)="processFile(fileInput)"
            />
            <img
              src="../../../../assets/icons/svg/cloud-computing upload.svg"
              alt=""
            />
            <div class="drag-text">
              <h3>Drag and drop a file or select add file</h3>
            </div>
            <button class="file-upload-btn" type="button">Choose file</button>
          </div>
          <!-- <div class="file-upload-content" id="image-preview-section">
                        <img class="file-upload-image"  [src]="image_preview" alt="your image" />
                        <div class="image-title-wrap">
                            <button type="button" class="remove-image" (click)="removeFile()">Remove <span class="image-title">Uploaded
                                    Image</span></button>
                        </div>
                    </div> -->
        </div>
      </div>
      <div
        class="col-md-8 section_Mapping mb-5 mx-auto"
        *ngIf="sectionMapping && csv_header"
      >
        <!-- <span *ngFor="let item of csv_header" class="badge bg-warning mx-1">{{item}}</span> -->

        <table
          class="ui celled compact striped table"
          style="text-align: start"
        >
          <thead>
            <tr>
              <th [attr.colspan]="csv_header.length + 1" class="thead-title">
                Content of the uploaded file
              </th>
              <th class="one wide">
                <div class="ui small basic icon buttons">
                  <button
                    class="ui icon button"
                    style="background: white !important"
                  >
                    <i class="sync icon"></i>
                  </button>
                </div>
              </th>
            </tr>

            <tr>
              <th class="one wide">#</th>
              <th *ngFor="let item of csv_header">{{ item["name"] }}</th>
              <th class="one wide">
                <i class="cog icon ms-2"></i>
              </th>
            </tr>
          </thead>
          <tbody>
            <div class="ui inverted dimmer">
              <div class="ui text loader">Loading</div>
            </div>
            <tr *ngFor="let line of lines; let i = index">
              <th>{{ i + 1 }}</th>
              <td *ngFor="let data of line">{{ data }}</td>
              <!-- <td>{{ line[1] }}</td> -->
              <td>
                <button
                  class="ui icon button"
                  id="dropdownMenu"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="cog icon"></i>
                </button>
                <ul
                  class="dropdown-menu dropdown-menu-end mt-1"
                  aria-labelledby="dropdownMenu"
                >
                  <li>
                    <a class="dropdown-item">View</a>
                  </li>
                  <li>
                    <a class="dropdown-item">Edit</a>
                  </li>
                  <li>
                    <a class="dropdown-item">Delete</a>
                  </li>
                </ul>
              </td>
              <!-- <a [routerLink]="['/app/products/product/' + i]">
                {{ item }}
              </a> -->
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="4">
                <div class="ui right floated pagination menu">
                  <a class="icon item">
                    <i class="left chevron icon"></i>
                  </a>
                  <a class="item">1</a>
                  <a class="item">2</a>
                  <a class="item">3</a>
                  <a class="item">4</a>
                  <a class="icon item">
                    <i class="right chevron icon"></i>
                  </a>
                </div>
              </th>
            </tr>
          </tfoot>
        </table>

        <form action="" class="form">
          <div class="row div-column-selection">
            <p class="mt-5 mb-3" style="text-align: start">
              please, select the month/date column and category column which you
              need to get the prediction
            </p>
            <!-- <div class="col-md mt-1">
              <span>Month</span>
              <select
                [(ngModel)]="selectedColumn['month']"
                name="month"
                id=""
                class="form-select"
                aria-label="Default select example"
              >
                <option *ngFor="let item of csv_header" [ngValue]="item">
                  {{ item }}
                </option>
              </select>
            </div>
            <div class="col-md mt-1">
              <span>Predict</span>
              <select
                name="predict"
                [(ngModel)]="selectedColumn['predict']"
                id=""
                class="form-select"
              >
                <option *ngFor="let item of csv_header" [ngValue]="item">
                  {{ item }}
                </option>
              </select>
            </div> -->
          </div>
          <div class="row div-column-selection">
            <div
              class="col-md-3"
              *ngFor="let item of csv_header; let i = index"
            >
              <span>{{ item["name"] }}</span>
              <select
                [(ngModel)]="item['mappedProductID']"
                [name]="item['mappedProductID'] + '_' + i"
                class="form-select"
                aria-label="Default select example"
              >
                <option value="Month">Month</option>
                <option
                  *ngFor="let product of productsList"
                  [ngValue]="product['_id']"
                >
                  {{ product["productName"] }}
                </option>
              </select>
            </div>
          </div>
        </form>
        <div class="page-footer ui clearing mt-5">
          <div
            class="ui green right floated button"
            [ngClass]="{ 'loading disabled': http_loading }"
            (click)="uploadReport()"
          >
            Save product
          </div>
          <div class="ui basic right floated button" (click)="backToUpload()">
            Cancel
          </div>
        </div>
      </div>
      <div class="col-md-8 mx-auto" *ngIf="sectionSuccess">
        <app-testing-ui></app-testing-ui>
      </div>
    </div>
  </section>
</div>
